 <div class="jumbotron">
    <h1>Administracja i Bezpieczeństwo Systemów Komputerowych</h1>
    <p class="lead">Projekt przedstawiający wykorzystanie certyfikatu klienta do uwierzytelnienia w aplikacji webowej.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Te dane są jawne i mogą być widziane przez każdego</h2>
        <p>Politechnika Krakowska</p>
        <p><a class="btn btn-default" href="http://www.pk.edu.pl/index.php?lang=pl">Politechnika Krakowska &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Certyfikaty</h2>
        <p>Certyfikaty SSL/TLS według Wikipedii</p>
        <p><a class="btn btn-default" href="https://pl.wikipedia.org/wiki/Transport_Layer_Security#Certyfikaty">Wikipedia &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Szyfrowanie asymetryczne według Wikipedi</h2>
        <p>Szyfrowanie klucza publicznego.</p>
        <p><a class="btn btn-default" href="https://pl.wikipedia.org/wiki/Kryptografia_klucza_publicznego">Wikipedia &raquo;</a></p>
    </div>
</div>
